@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: black;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.skicky {
  background: #081b29;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}



section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  height: 100vh;
  background: url("tech.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 15%;
}

.home-content {
  max-width: 600px;
  z-index: 99;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content .text-animated {
  position: relative;
  width: 32.8rem;
}

.home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content .text-animated h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px #00abf0;
  background-image: linear-gradient(#00abf0, #00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animated h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid #00abf0;
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}


.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}


.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 50px;
}

.home-content .btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}


.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
  ;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}


.home-sci {
  position: absolute;
  bottom: 40px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.home-sci::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  ;
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 100px;
  right: 0;
  width: 610px;
  height: 80%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHover .1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover:hover {
  background: black;
  opacity: .8;
}

.home-imgHover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: black;
  padding-bottom: 4rem;
}

.heading {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

span {
  color: #00abf0;
}

.about-img {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .2rem solid #00abf0;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid black;
  border-bottom: .2rem solid black;
  border-left: .2rem solid #00abf0;
  border-right: .2rem solid #00abf0;
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.5rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: black;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  font-size: 2.5rem;
  flex-wrap: wrap;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  font-size: 2.5rem;
  margin-bottom: 0 0 1.5rem 2rem;
}


.education-box .education-content {
  position: relative;
  padding: 2rem;
}




.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid #00abf0;
  border-radius: .6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #174d73;
  z-index: -1;
  transition: .5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  color: #00abf0;
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

.education-content .content .year i {
  padding-right: .5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: .5rem;
}

.skills {
  min-height: auto;
  padding-bottom: 2rem;
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 30rem;
}

.skills-column .title {
  font-size: 2.2rem;
  margin-bottom: 0 0 1.3rem;
}

.skills-box .skills-content {
  position: relative;
  border: .2rem solid #00abf0;
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #174d73;
  z-index: -1;
  transition: .5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: .7rem 0;
}

.skills-content .progress h3 {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: #00abf0;
}

.skills-content .progress .bar {
  height: 2.5rem;
  border: .2rem solid #00abf0;
  border-radius: .6rem;
  padding: .5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: #00abf0;
}

.skills-column:nth-child(1) .skills-box .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-column:nth-child(1) .skills-box .skills-content .progress:nth-child(2) .bar span {
  width: 85%;
}

.skills-column:nth-child(1) .skills-box .skills-content .progress:nth-child(3) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-box .skills-content .progress:nth-child(4) .bar span {
  width: 50%;
}

.skills-column:nth-child(1) .skills-box .skills-content .progress:nth-child(5) .bar span {
  width: 70%;
}

.skills-column:nth-child(2) .skills-box .skills-content .progress:nth-child(1) .bar span {
  width: 89%;
}.skills-column:nth-child(2) .skills-box .skills-content .progress:nth-child(2) .bar span {
  width: 92%;
}.skills-column:nth-child(2) .skills-box .skills-content .progress:nth-child(3) .bar span {
  width: 75%;
}.skills-column:nth-child(2) .skills-box .skills-content .progress:nth-child(4) .bar span {
  width: 95%;
}.skills-column:nth-child(2) .skills-box .skills-content .progress:nth-child(5) .bar span {
  width: 75%;
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
  justify-content: center;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: #fff;
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box-a {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 13.5rem;
  height: 5rem;
}

.contact form .btn-box-a .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.contact form .btn-box-a .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.contact form .btn-box-a .btn:hover::before {
  width: 100%;
}

.contact form .btn-box-a .btn:hover {
  color: #00abf0;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #081b29;
}

.footer-text,
.footer-iconTop {
  position: relative;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: #00abf0;
  border: .2rem solid #00abf0;
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: black;
  transition: .5s;
}

.footer-iconTop a:hover i {
  color: #00abf0;
}

/*ANIMATION RELOAD AND SCROLL*/

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
  z-index: 98;
}
 


.logo .animate,
.navbar .animate,
.home .show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: cals(.3s * var(--i));
}


.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(.3s / var(--i));
  animation: showRight 1s ease forwards;
}

.footer.show-animate .animate.scroll {
  transition-delay: calc(.3s * var(--i));
  width: 0;
}


/*BREAKPOINTS*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  .home-imgHover {
    pointer-events: none;
    background: black;
    opacity: .6;
    
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  .home-content h1{
    display: flex;
    flex-direction: column;
  }

  .home-sci {
    width: 160px;
  }

  .home-sci a {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .education {
    padding: 10rem 4% 5rem 5%;
  }

  .contact form .input-box .input-field {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
    justify-content: center;
  }

  .home-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .home-content h1 {
    
  }
}


@keyframes homeBgText {
  0%,10%,100% {
    background-position: -33rem 0;
  }

  65%,85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,10%,100% {
    width: 0;
  }

  65%,78%,85% {
    width: 100%;
    opacity: 1;
  }

  75%,81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
